$icon-font-path: '../fonts/';
// bower:scss
 @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 // endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body,
html {
  overflow: hidden;
  height: 100%;
  font-family: 'Fugue Regular', sans-serif;
  font-weight: lighter;
}

.top-link,
.top-link:hover {
  color: white;
  text-decoration: none;
  position: fixed;
  top: 24px;
  z-index: 1;

  &.left {
    left: 24px;
    display: none;
  }

  &.right {
    right: 24px;
  }
}

.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: none;
  position: absolute;
  display: none;

  &.roots {
    left: -100%;
    background-image: url('../images/roots_main.jpg');
  }

  &.sperduta {
    background-image: url('../images/sperduta_main.jpg');
  }

  &.black {
    left: +100%;
    background-image: url('../images/black_main.jpg');
  }

  .project-title-wrapper {
    // height: 90%;
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // z-index: 1;
    // width: 600px;
    // height: 60px;
    // background: red;
    // position: absolute;
    // top: 45%;
    // left: calc(50% - 300px);
    // position: absolute;
    // left: 50%;
    // top: 40%;

    h1.project-title {
      font-family: 'Fugue Regular', sans-serif;
      font-size: 66px;
      color: white;
      text-shadow: 1px 1px #666;
      cursor: pointer;
      z-index: 1;
      display: block;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);


      &:hover {
        color: #333;
      }
      &.active {
        color: #333;
        cursor: auto;
      }
    }
  }
}

main {
  margin: 48px calc(6% + 12px);

  section.project {
    display: none;
  }
}
