$icon-font-path: '../fonts/'; // bower:scss
 @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 // endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body,
html {
  overflow: hidden;
  height: 100%;
  font-family: 'Fugue Regular', sans-serif;
  font-weight: lighter;
}

.top-link,
.top-link:hover {
  color: white;
  text-decoration: none !important;
  position: fixed;
  top: 24px;
  z-index: 1;

  &.left {
    left: 24px;
    display: none;
  }

  &.right {
    right: 24px;
  }
}

.project-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: none;
  position: absolute;
  display: none;

  &.roots {
    left: -100%;
    background-image: url('../images/roots_main.jpg');
  }

  &.sperduta {
    background-image: url('../images/sperduta_main.jpg');
  }

  &.black {
    left: +100%;
    background-image: url('../images/black_main.jpg');
  }

  h1.project-title {
    font-family: 'Fugue Regular', sans-serif;
    font-size: 66px;
    color: white;
    //text-shadow: 1px 1px #666;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;

    &.active,
    &:hover {
      color: white;
      opacity: 0.9;
    }

    &.active {
      color: #333;
    }
  }
}

main {
  margin: 48px 0;
}

section.project {
  display: none;
}

.parallax {
  // background-position: 50% 0;
  // background-repeat: no-repeat;
}

section.sperduta {
  .row {
    margin: 120px 6%;
    position: relative;
  }

  .section-1 {
    text-align: center;
    font-size: 22px;
  }

  .section-2 .image {
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    width: 70vw;
    background-image: url("../images/sperduta/boon1.jpg");
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .section-3 p {
    font-size: 18px;
  }
  .section-3 .image {
    background-image: url("../images/sperduta/boon2.jpg");
    background-size: 120%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    height: 40vw;
    width: 45%;
    float: right;
  }

  .section-4 .image {
    background-size: 120%;
    background-position: 0 50%;
    background-repeat: no-repeat;
    height: 40vw;
    width: 45%;


    &:nth-child(1) {
      background-image: url("../images/sperduta/pdue12.jpg");
    }
    &:nth-child(2) {
      background-image: url("../images/sperduta/pdue9.jpg");
      float: right;
    }
  }

  .section-5 {
    text-align: center;
    font-size: 22px;
  }

  .section-6 p {
    font-size: 18px;
  }
  .section-6 .image {
    background-image: url("../images/sperduta/boon3.jpg");
    background-size: 120%;
    background-position: 0 80%;
    background-repeat: no-repeat;
    height: 40vw;
    width: 45%;
    float: right;
  }
}
