<div>
  <div class="row section-1">
    <p class="hero">
      Fire ghters is a project born during the Master of Bag Design and Accessory Development promoted by IUAV in collaboration with Bottega Veneta.
    </p>
  </div>

  <div class="row section-2">
    <div class="image"></div>
  </div>

  <div class="row section-3">
    <div class="slider">
      <div class="slider-nav left">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-left"></i>
        </div>
      </div>
      <div class="slider-nav right">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-right"></i>
        </div>
      </div>
      <div class="slider-inner">
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>
  </div>

  <div class="row section-4">
    <div class="box">
      <div class="line"></div>
      <p>
        The search for an aesthetic reference led me to the study the American firefighters. I analyzed the uniforms and the various elements that compose them, developing in concept of added elements, hooks, belts and carabiners. These elements are placed in the bags like hanging elements of the small pockets.
      </p>
    </div>
    <div class="image"></div>
  </div>

  <div class="row section-5">
    <div class="image"></div>
  </div>

  <div class="row section-6">
    <div class="slider left">
      <div class="slider-nav left">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-left"></i>
        </div>
      </div>
      <div class="slider-inner">
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>
    <div class="slider right">
      <div class="slider-nav right">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-right"></i>
        </div>
      </div>
      <div class="slider-inner">
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>
  </div>

  <div class="row section-7">
    <div class="image"></div>
  </div>

  <div class="row section-8">
    <p>
      I worked on the three-dimensional part of the helmet that crosses the structure like a rib. It becomes the framework element of both bags, accompanying the movements and keeping the curvature.
    </p>
  </div>

  <div class="row section-9">
    <div class="image"></div>
  </div>

  <div class="row section-10">
    <p>
      Versatility and usefulness were priority. The backpack should be carry with the handle on the shoulder, like a pack or shoulder strap. The messenger becomes furnished of different type of pockets, with large spaces directly accessible from the outside.
    </p>
    <div class="slider">
      <div class="slider-nav left">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-left"></i>
        </div>
      </div>
      <div class="slider-nav right">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-right"></i>
        </div>
      </div>
      <div class="slider-inner">
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>
  </div>

  <div class="row section-11">
    <div class="image"></div>
  </div>

  <div class="row section-12">
    <div class="slider">
      <div class="slider-nav left">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-left"></i>
        </div>
      </div>
      <div class="slider-nav right">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-right"></i>
        </div>
      </div>
      <div class="slider-inner">
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>
  </div>
</div>
