<div>
  <div class="row section-1">
    <p class="hero">
      Uppercut purpose was to create accessories inspired by the idea of movement.
    </p>
  </div>

  <div class="row section-2">
    <div class="image"></div>
  </div>

  <div class="row section-3">
    <p>
      I decided to face this theme reading the movement as a political and moral. So I start an historical research on the subject. I choose the one i felt closer to me: the suffragette. However, I realized during this study that I needed to strengthen this concept bringing back a series of physical elements that helps me to develop volumes.
    </p>
  </div>

  <div class="row section-4">
    <div class="image"></div>
  </div>

  <div class="row section-5">
    <div class="box">
      <div class="line"></div>
      <p>
        I opted for the idea of hybridization thanks to a parallel search on the world of boxing women of the ‘30s. This allowed me to bring the idea of movement from the abstract to the concrete. I could then decide materials, shapes, volumes, and colors.
      </p>
    </div>
    <div class="image"></div>
  </div>

  <div class="row section-6">
    <div class="image"></div>
  </div>

  <div class="row section-7">
    <div class="image"></div>
    <div class="box">
      <div class="line"></div>
      <p>
        I focused on finishes and details. During this phase I had the chance to experience weaves and finishes. I wanted to hybridize the brandy leather with more technical fabrics. I then created a new material, made by a layer of technical microbase, one of jute and one of synthetic fabric. In some seams I inserted a filetto worked with a waxed lacing piping. This has become the theme of design. For this reason also the puller was replaced with a handmade one.
      </p>
    </div>
  </div>

  <div class="row section-8">
    <div class="slider">
      <div class="slider-nav left">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-left"></i>
        </div>
      </div>
      <div class="slider-nav right">
        <div class="slider-arrow-inner">
          <i class="glyphicon glyphicon-menu-right"></i>
        </div>
      </div>
      <div class="slider-inner">
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>
  </div>

  <div class="row section-9">
    <p>
      The care of every detail was an indispensable principle that followed every stage of design.
    </p>
    <div class="line-big"></div>
  </div>
</div>
