section.black {
  .section-2 .slider {
    height: 58vw;
    width: 48%;
    max-height: 800px;
    overflow: hidden;
    position: relative;

    &.left {
      float: left;

      .image:nth-of-type(1) {
        background-image: url("../images/black/figurini/4.jpg");
        left: -100%;
      }
      .image:nth-of-type(2) {
        background-image: url("../images/black/figurini/6.jpg");
      }
      .image:nth-of-type(3) {
        background-image: url("../images/black/figurini/7.jpg");
        left: +100%;
      }
      .image:nth-of-type(4) {
        background-image: url("../images/black/figurini/8.jpg");
        left: +100%;
      }
    }
    &.right {
      float: right;

      .image:nth-of-type(1) {
        background-image: url("../images/black/figurini/1.jpg");
        left: -100%;
      }
      .image:nth-of-type(2) {
        background-image: url("../images/black/figurini/2.jpg");
      }
      .image:nth-of-type(3) {
        background-image: url("../images/black/figurini/3.jpg");
        left: +100%;
      }
    }
  }
  .section-2 .slider-inner {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .section-2 .image {
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .section-3 .image {
    background-image: url("../images/black/figurini/5.jpg");
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 60vw;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4 .image {
    background-image: url("../images/black/sketchbook.gif");
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 45vw;
    width: 65%;
    max-height: 710px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 480px) {
      width: 100%;
      height: 68vw;
    }
  }


  .section-5 .box {
    top: 56px !important;
    padding-right: 8%;
    z-index: 4;

    @media screen and (max-width: 480px) {
      width: 100%;
      padding: 0;
      left: 0;
      top: 0 !important;
      position: relative;
      clear: both;
      background-color: white;
      opacity: 1;
      .line {
        display: none;
      }
      p {
        color: #333;
        border-left: 2px solid #333;
        padding-left: 24px;
        margin-bottom: 60px;
        font-size: 16px;
      }
    }
    @media screen and (min-width: 480px) and (max-width: 1268px) {
      top: 24px;
      left: 0;
      padding-right: 12%;
      width: 50%;
    }
  }

  .section-5 .slider {
    height: 58vw;
    width: 55%;
    max-height: 800px;
    overflow: hidden;
    position: relative;
    float: right;
    margin-bottom: 12px;

    @media screen and (max-width: 480px) {
      width: 75%;
      height: 74vw;
      float: right;
    }
  }

  .section-5 .slider-inner {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .section-5 .slider-inner .image {
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;

    &:nth-of-type(1) {
      background-image: url("../images/black/shoot/1.jpg");
      left: -100%;
    }

    &:nth-of-type(2) {
      background-image: url("../images/black/shoot/3.jpg");
    }

    &:nth-of-type(3) {
      background-image: url("../images/black/shoot/1.jpg");
      left: +100%;
    }

    &:nth-of-type(4) {
      background-image: url("../images/black/shoot/3.jpg");
      left: +100%;
    }
  }

  .section-5 .image.extra {
    background-image: url("../images/black/shoot/2.jpg");
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 46vw;
    width: 80%;
    max-height: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    display: block;
    clear: both;
  }


  .section-6 .image {
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 60vw;
    width: 48%;

    &:nth-child(1) {
      background-image: url("../images/black/shoot/4.jpg");
      float: left;
    }

    &:nth-child(2) {
      background-image: url("../images/black/shoot/5.jpg");
      float: right;
    }
  }

  .section-7 .image {
    background-image: url("../images/black/shoot/8.jpg");
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 45vw;
    width: 100%;
  }


  .section-8 .box {
    top: 56px !important;
    left: 50% !important;
    padding-left: 8%;
    padding-right: 24px !important;
    width: 40% !important;
    z-index: 4;

    @media screen and (max-width: 480px) {
      width: 100% !important;
      padding: 0;
      left: 0 !important;
      top: 0 !important;
      position: relative;
      clear: both;
      background-color: white;
      opacity: 1;
      .line {
        display: none;
      }
      p {
        color: #333;
        border-left: 2px solid #333;
        padding-left: 24px;
        margin-bottom: 60px;
        font-size: 16px;
      }
    }
    @media screen and (min-width: 480px) and (max-width: 1268px) {
      top: 24px;
      left: 0;
      padding-right: 12%;
      width: 50%;
    }
  }

  .section-8 .slider {
    height: 60vw;
    width: 55%;
    max-height: 800px;
    overflow: hidden;
    position: relative;
    float: left;

    @media screen and (max-width: 480px) {
      width: 75%;
      height: 74vw;
      float: right;
    }
  }

  .section-8 .slider-inner {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .section-8 .slider-inner .image {
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;

    &:nth-of-type(1) {
      background-image: url("../images/black/shoot/10.jpg");
      left: -100%;
    }

    &:nth-of-type(2) {
      background-image: url("../images/black/shoot/11.jpg");
    }

    &:nth-of-type(3) {
      background-image: url("../images/black/shoot/12.jpg");
      left: +100%;
    }
  }


  .section-9 .slider {
    margin-left: auto;
    margin-right: auto;
    height: 45vw;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    position: relative;
  }

  .section-9 .slider-inner {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .section-9 .image {
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;

    &:nth-of-type(1) {
      background-image: url("../images/black/shoot/14.jpg");
      left: -100%;
    }

    &:nth-of-type(2) {
      background-image: url("../images/black/shoot/13.jpg");
    }

    &:nth-of-type(3) {
      background-image: url("../images/black/shoot/16.jpg");
      left: +100%;
    }
  }

  .section-10 .image {
    background-image: url("../images/black/shoot/22.jpg");
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 45vw;
    width: 100%;
  }

  .section-11 .image {
    background-image: url("../images/black/shoot/18.jpg");
    background-size: 110%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 60vw;
    width: 55%;
    float: right;

    @media screen and (max-width: 480px) {
      width: 75%;
      height: 74vw;
    }
  }

  .section-12 p {
    font-size: 22px;
    text-align: center;
  }

  .section-13 .image {
    background-image: url("../images/black/shoot/24.jpg");
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 45vw;
    width: 100%;
  }

  .section-13 .image {
    background-image: url("../images/black/sfilata.gif");
    background-size: 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 60vw;
    width: 55%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 480px) {
      width: 75%;
      height: 74vw;
    }
  }

}
