section.project {
  display: none;
  margin: 48px 12%;

  .image {
    max-height: 800px;
  }

  .row {
    margin: 160px 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

    @media screen and (max-width: 480px) {
      margin: 60px 0;
    }
  }

  p.hero {
    text-align: center;
    font-size: 24px;

    @media screen and (max-width: 480px) {
      font-size: 22px;
    }
  }

  .line-big {
    width: 160px;
    height: 2px;
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }

  .box {
    background-color: #333;
    opacity: 0.7;
    position: absolute;
    padding: 24px 12px 12px 24px;
    width: 40%;
    left: 10%;

    .line {
      width: 42px;
      height: 2px;
      background-color: #f5f5f5;
      margin: -6px 0 8px -12px;
    }

    p {
      font-size: 18px;
      color: #F5F5F5;

      @media screen and (max-width: 700px) {
        font-size: 16px;
      }
    }
  }
}


.slider-nav {
  background-color: #333;
  cursor: pointer;
  position: absolute;
  top: 45%;
  opacity: 0.4;
  height: 50px;
  width: 50px;
  z-index: 2;
  display: none;

  @media screen and (max-width: 480px) {
    height: 32px;
    width: 32px;
  }

  &.left {
    left: 0px;
  }
  &.right {
    right: 0px;
  }

  .slider-nav-inner {
    position: relative;
    height: 100%;
    width: 100%;
  }

  i {
    display: block;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 480px) {
      font-size: 12px;
    }
  }
}
